body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
figure {
  margin: 0;
}
.content {
  max-width: 1000px;
  margin: 0 auto;
}
.header {
  width: 100%;
  position: relative;
}
.header-content {
  width: 97%;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.nav {
  padding: 0 100px;
}
.nav-list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0;
  margin: 10px 0;
}
.nav-list-item {
  margin-right: 70px;
}
.nav-list-item:last-child {
  margin-right: 0;
}
.nav-list-item a {
  color: #222;
  text-decoration: none;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-shadow: 0 0 1px #ffff01;
}
.nav-list-item a div {
  border-top: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 4px solid #808080;
  border-bottom: 3px solid #808080;
  padding: 25px 20px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 1.2em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: auto;
  width: 75px;
  height: 85px;
}
.nav-list-item a div img {
  width: 96%;
  height: 100%;
  margin: 5px;
  filter: grayscale(50%);
}
.nav-list-item a div img:hover {
  filter: grayscale(10%);
}
.header-info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 25px;
  line-height: 20px;
}
.header-info hr {
  margin: 8px 0;
}
.header-info p {
  margin: 0;
  text-align: center;
}
.header-info p:first-child {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.header-info p:first-child span {
  color: #444;
}
.header-info p:first-child span:last-child {
  color: #000;
  font-weight: bold;
}
.header-info p:last-child {
  margin: 0;
}
.section {
  margin: 0;
}
.section-intro {
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.section-intro-img {
  width: 300px;
  height: 300px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
}
.section-intro-text {
  width: 650px;
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
}
.section-images {
  margin: 100px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.section-images-item {
  margin: 10px 30px;
  width: 200px;
  height: 200px;
  border: 1px solid #d3d3d3;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.section-more {
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.section-more-img {
  width: 300px;
  height: 300px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
}
.section-more-text {
  width: 650px;
  font-size: 20px;
  line-height: 28px;
}
.logo {
  width: 110px;
  height: 95px;
  margin: 0;
}
.logo img {
  width: 100%;
  height: 100%;
}
.section-title {
  background: #f1f2f2;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.section-title-item {
  border-bottom: 1px solid #808080;
  text-align: center;
  display: inline-block;
}
.logo-sm {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  margin: 0;
}
.logo-sm .E {
  font-size: 80px;
}
.logo-sm .cinco {
  font-size: 80px;
  text-shadow: 0 0 1px #808080;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  margin-left: -12px;
  margin-top: -6px;
}
.logo-full {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  font-size: 1.4em;
}
.logo-full .E {
  font-size: 4.36em !important;
  margin: 0 !important;
  position: relative;
  top: 0.036em;
}
.logo-full .cinco {
  font-size: 4.3em;
  line-height: 1em;
  text-shadow: 2px 0 5px #808080;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  position: relative;
  left: -0.065em;
  top: -0.12em;
}
.logo-full .pacios {
  font-size: 4em;
  position: relative;
  right: 0.13em;
}
footer.header {
  font-size: 1.2em !important;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  margin: 25px auto;
}
footer.header .border-left {
  height: 100px;
}
footer.header .border-bottom {
  width: 120px;
}
footer.header .phrase {
  font-size: 1em;
}
footer.header .logo-full {
  position: relative;
  top: 0.8em;
  left: -0.3em;
}
footer.header .header-content {
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.color-amarillo {
  color: #ffff01;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.flex-column {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-spaced {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-center-all {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.piramid {
  width: 100%;
  height: 290px;
  position: relative;
  top: 5px;
}
.piramid-1 {
  width: 105%;
  height: 77px;
  border: 1px solid #e2e2e2;
  background: #ff0;
  position: absolute;
  bottom: 0;
  left: -4px;
}
.piramid-2 {
  width: 47px;
  height: 47px;
  border: 1px solid #e2e2e2;
  background: #ff0;
  position: absolute;
  bottom: 86px;
  left: 8px;
}
.piramid-3 {
  width: 43px;
  height: 43px;
  border: 1px solid #e2e2e2;
  background: #ff0;
  position: absolute;
  bottom: 95px;
  right: 5px;
}
.piramid-4 {
  width: 38px;
  height: 38px;
  border: 1px solid #e2e2e2;
  background: #ff0;
  position: absolute;
  bottom: 141px;
  left: 21px;
}
.piramid-5 {
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  background: #ff0;
  position: absolute;
  bottom: 153px;
  right: 16px;
}
.piramid-6 {
  width: 28px;
  height: 28px;
  border: 1px solid #e2e2e2;
  background: #ff0;
  position: absolute;
  bottom: 189px;
  left: 15px;
}
.piramid-7 {
  width: 27px;
  height: 27px;
  border: 1px solid #e2e2e2;
  background: #ff0;
  position: absolute;
  bottom: 193px;
  right: 39px;
}
.piramid-8 {
  width: 23px;
  height: 23px;
  border: 1px solid #e2e2e2;
  background: #ff0;
  position: absolute;
  bottom: 229px;
  left: 30px;
}
.piramid-9 {
  width: 14px;
  height: 14px;
  border: 1px solid #e2e2e2;
  background: #ff0;
  position: absolute;
  bottom: 260px;
  left: 45px;
}
.piramid-10 {
  width: 8px;
  height: 8px;
  border: 1px solid #e2e2e2;
  background: #ff0;
  position: absolute;
  bottom: 282px;
  right: 55px;
}
.font30 {
  font-size: 30px !important;
}
.name {
  text-transform: uppercase;
}
.margin0 {
  margin: 0 !important;
}
.margin5 {
  margin: 5px;
}
.margin2 {
  margin: 2px;
}
.margin-top40 {
  margin-top: 40px;
}
.font-size11 {
  font-size: 11px;
}
.hide {
  display: none;
}
.flex-spaced {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.border-bottom {
  width: 100%;
  height: 3px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.border-left {
  width: 3px;
  height: 110%;
  background: #000;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.back-element-madera {
  background: #00b200;
}
.back-element-fuego {
  background: #ff5100;
}
.back-element-agua {
  background: #00c5ff;
}
.back-element-aire {
  background: #80a9bc;
}
.footer-logo {
  width: 100px;
  height: 82px;
  margin-bottom: 10px;
  margin-left: -3px;
}
.footer-logo img {
  width: 100%;
  height: 100%;
}
.margin50-0 {
  margin: 50px 0;
}
.gridy {
  background: url("http://html.webtemplatemasters.com/engorgio/js/sequence/overlay-pattern.png");
  width: 90%;
  height: 90%;
  display: inline-block;
}
